/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/daisy_ui_components_site_web";
@source "../../deps/daisy_ui_components";
@source "../../../lib/";

@plugin "../vendor/heroicons";
@plugin "../vendor/daisyui" {
  /* In practice, you will likely ship only with two themes, as below: */
  /* themes: light --default, dark --prefersdark; */
  themes: all;
}

@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/*
 * Make LiveView wrapper divs transparent for layout.
 * This makes it possible to use LiveViews as flex children for example.
 */
[data-phx-root-id] {
  display: contents;
}

/* This file is for your main application CSS */
